MONGODB_URI=mongodb://127.0.0.1:27017/scholarship_zkp_onchain
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
IPFS_HOST=127.0.0.1
IPFS_PORT=5001
IPFS_PROTOCOL=http

# Do not commit real private keys.
# UNIVERSITY_PRIVATE_KEY=0x...
# SPONSOR_PRIVATE_KEY=0x...
